
{% extends '::base.html.twig' %}  

{% block body -%}

<style>
table{
	width:100%;
	display: table;
	max-width: 100%;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 14px;
}
table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: white;
    color: black;
}

#header1 {   
    font-family: "Open Sans", Arial, sans-serif;
    color: #337ab7;
}

#header2 {   
    font-family: "Open Sans", Arial, sans-serif;
    color: #555555;
}
</style>

<h3 id="header1"> Universidad de Carabobo <br> Facultad Experimental de Ciencias y Tecnología </h3>
<h5 id="header2"> Reporte de Estudiantes Aprobados en Servicio Comunitario.  Periodo: {{periodo}}. Departamento: {{departamento}}</h5>

 		<table id="t01">   
            <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Cedula</th>
              <th>Proyecto</th>
              <th>Tutor</th>
            </tr>
 			{% for estudiante in estudiantes %}
	            <tr>
	            	<td>{{ estudiante.nombre }}</td>
	            	<td>{{ estudiante.apellido }}</td>                    
	            	<td>{{ estudiante.cedula }}</td>
	            	<td>{{ estudiante.proyectoProyecto.nombre }}</td>	            	
	            	<td>{{ estudiante.usuarioUsuario.nombre }}</td>
	            </tr> 
            {% endfor %}
        </table> 
{% endblock %}