
{% extends '::base.html.twig' %}  

{% block body -%}

<style>
table{
	width:100%;
	display: table;
	max-width: 100%;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 14px;
}
table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: white;
    color: black;
}

#header1 {   
    font-family: "Open Sans", Arial, sans-serif;
    color: #337ab7;
}

#header2 {   
    font-family: "Open Sans", Arial, sans-serif;
    color: #555555;
}
</style>

<h3 id="header1"> Universidad de Carabobo <br> Facultad Experimental de Ciencias y Tecnología </h3>
<h5 id="header2"> Reporte de Proyectos de Servicio Comunitario.  Periodo: {{periodo}}. Departamento: {{departamento}}</h5>

 		<table id="t01">   
            <tr>
              <th>Nombre</th>
              <th>Coord. Proyecto</th>
              <th>Coord. Suplente</th>
              <th>Tutores</th>
              <th>Estudiantes</th>

               {% if (periodo == 'todos') %}
                <th>periodo</th>
               {% endif %}
              
            </tr>
            {% set i = 0 %}
 			{% for proyecto in proyectos %}
	            <tr>
	            	<td>{{ proyecto.nombre_proyecto }}</td> 


              <td>{{ proyecto.cedula_c }}_{{ proyecto.nombre_c }}_{{ proyecto.apellido_c }}</td> 
              <td>{{ proyecto.cedula_s }}_{{ proyecto.nombre_s }}_{{ proyecto.apellido_s }}</td>


                  {% set j = 0 %}
                  {% for tutor in tutores %}

                    {% if i == j %} 

                        {% if tutor is empty %} 
                          <td> no aplica</td>
                        {% else %}

                          <td>
                          {% for tut in tutor %}

                          {{ tut.nombre }}_{{ tut.apellido }} <br>

                          {% endfor %} 
                          </td>
                        {% endif %}
                    {% endif %}    

                    {% set j = j + 1 %}
                  {% endfor %}


                  {% set k = 0 %}
                  {% for estudiante in estudiantes %}

                    {% if i == k %} 

                        {% if estudiante is empty %} 
                          <td> no aplica</td>
                        {% else %}

                          <td>
                          {% for estu in estudiante %}

                          {{ estu.nombre }}_{{ estu.apellido }} <br>

                          {% endfor %} 
                          </td>
                        {% endif %}
                    {% endif %}    

                    {% set k = k + 1 %}
                  {% endfor %}




                  {% set i = i + 1 %}

                {% if (periodo == 'todos') %}
                  <td>{{ proyecto.periodo }}</td>
                {% endif %}  


	            </tr> 
            {% endfor %}
        </table> 
{% endblock %}