  {% if (user != null) %} 

     <header class="main-header">
        <a href="{{ path('tesis_admin_homepage') }}" class="logo"><b>SistemaSC</b></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
      
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                {% if (user.perfil == 'estudiante') %}

                  {% if (user.genero == 'male') %}
                  <img src="{{ asset('img/student.png') }}" class="user-image" alt="User Image"/>
                  {% else %}
                  <img src="{{ asset('img/studentw.png') }}" class="user-image" alt="User Image"/>
                  {% endif %}

                {% else %}

                  {% if (user.genero == 'male') %}
                  <img src="{{ asset('img/user.png') }}" class="user-image" alt="User Image"/>
                  {% else %}
                  <img src="{{ asset('img/userw.png') }}" class="user-image" alt="User Image"/>
                  {% endif %}

                {% endif %}

                  <span class="hidden-xs">{{user.nombre}}</span>
                  <!-- <span class="hidden-xs">Alexander Pierce</span> -->
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">

                  {% if (user.perfil == 'estudiante') %}

                    {% if (user.genero == 'male') %}
                    <img src="{{ asset('img/student.png') }}" class="img-circle" alt="User Image"/>
                    {% else %}
                    <img src="{{ asset('img/studentw.png') }}" class="img-circle" alt="User Image"/>
                    {% endif %}

                  {% else %}

                    {% if (user.genero == 'male') %}
                    <img src="{{ asset('img/user.png') }}" class="img-circle" alt="User Image"/>
                    {% else %}
                    <img src="{{ asset('img/userw.png') }}" class="img-circle" alt="User Image"/>
                    {% endif %}

                  {% endif %}

                    <p>
                      {% if (user.perfil == 'estudiante') %}
                        Estudiante
                      {% elseif (user.perfil == 'coordinador de servicio comunitario') %}
                        Coordinador General
                      {% elseif ((user.perfil == 'coordinador suplente') 
                        or (user.perfil == 'coordinador de proyecto'))  %}
                          Coordinador de Proyecto                        
                      {% elseif (user.perfil == 'tutor') %}
                        Tutor 
                      {% endif %}  

                     {# {{user.perfil}} #} 
                      <br> {{user.nameLogin}}
                   
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{{ path('user_check', {'cedula': user.cedula}) }}" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="{{ path('user_logout') }}" class="btn btn-default btn-flat">Cerrar sesión</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>

  {% else %}
  
     <header class="main-header">
        <a href="{{ path('tesis_admin_homepage') }}" class="logo"><b>SistemaSC</b></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                  <div class="pull-right">
                    <a href="{{ path('tesis_sc_homepage') }}" class="btn btn-default btn-lg">Salir</a>
                  </div>

            </ul>
          </div>
        </nav>
      </header>


  {% endif %}